<html>
	<head>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="timetable">
			<h1>EMPLOI DU TEMPS 2012-2013<br/>
				Groupe:I5-GIC
			</h1>
			<h4>Semestre-I<br/>du 17 octobre 2017 Semaines 1 à 8
			</h4>
			<img src="logo.gif" width="100" height="100"/>
			<table rules="all">
				<tr>
					<th>Horaires</th>
					<th>Lundi</th>
					<th>Mardi</th>
					<th>Mercredi</th>
					<th>Jeudi</th>
					<th>Vendredi</th>
					<th>Samedi</th>
				</tr>
				<tr>
					<td>7h00-7h55</td>
					<td><div class="cours">Cours</div>
						Prolog Fontionnelle <br>
						HENG Sotharith<br/>
						<div class="room">206-F</div>
					</td>
					<td>
					</td>
					<td><div class="cours">Cours</div>
						Intelligent Artificial <br/>
						TOUCH Sereysethy<br/>
						<div class="room">206-F</div>
					</td>
					<td><div class="cours">Cours</div>
						Traitement d'image <br/>
						KONG Phalla<br/>
						<div class="room">206-F</div>
					</td>
					<td><div class="cours">Cours</div>
						Prog.Fontionnelle<br/>
						HENG Sotharith<br/>
						<div class="room">206-F</div>
					</td>
					<td>

					</td>
				</tr>
				<tr>
					<td>8h00-8h55</td>
					<td><div class="cours">Cours</div>
						Prolog Fontionnelle <br>
						HENG Sotharith<br/>
						<div class="room">206-F</div>
					</td>
					<td></td>
					<td><div class="cours">Cours</div>
						Intelligent Artificial <br/>
						TOUCH Sereysethy<br/>
						<div class="room">206-F</div>
					</td>
					<td><div class="cours">Cours</div>
						Traitement d'image <br/>
						KONG Phalla<br/>
						206-F<br/>
					</td>
					<td><div class="cours">Cours</div>
						Prog.Fontionnelle<br/>
						HENG Sotharith<br/>
						<div class="room">206-F</div>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>9h10-9h55</td>
					<td rowspan="2">Anglais<br/>
						Gr.I:401-A Gr:j:101-E<br>
						Gr:K:102-E,Gr:L:104-E<br/>
						Gr:M:105-E,Gr:N:201-E<br/>
						Gr:O:104-F,Gr:P:105-F<br/>
					</td>
					<td>
						<div class="cours">Cours</div>
						Traitement de parole<br/>
						TOUCH Sereysethy<br/>
						<div class="room">206-F</div>
					</td>
					<td>
						Seminaire

					</td>
					<td><div class="cours">Cours</div>
						Traitement d'image <br/>
						KONG Phalla<br/>
						<div class="room">206-F</div>
					</td>
					<!--             <td><div id="cours">Cours</div>-->
					<!--              <td>10h00-10h55</td>-->
					<td rowspan="2">Anglais<br/>
						Gr.I:401-A Gr:j:101-E<br>
						Gr:K:102-E,Gr:L:104-E<br/>
						Gr:M:105-E,Gr:N:201-E<br/>
						Gr:O:104-F,Gr:P:105-F<br/>
					</td>

					
					<td>
					</td>
				</tr>
				<tr>
					<td>10h10-10h-5</td>
					<td><div class="cours">Cours</div>
						Traitement de Paroles
						SENG Sopheap
						<div class="room">206-F</div>
					</td>
					<td>
						Seminaire
					</td>
					<td>Systèm distributer
					    <div class="room">206-F</div>
					</td>
					<td></td>
				</tr>
				<tr><td colspan="7"></td>
				</tr>
				<tr>
					<td>13h00-13h55</td>
					<td><div class="cours">Cours</div>
						Multimédia<br/>
						KONG Phalla<br/>
					   <div class="room">206-F</div>
						
					</td>
					<td><div class="cours">Cours</div>
						Admin<br/>
						JEONG Chul<br/>
						<div class="room">306-F</div>
					</td>
					<td>
					</td>
					<td><div class="cours">Cours</div>
						Admin<br/>
						JEONG Chul<br/>
						<div class="room">306-F</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>14h00-14h55</td>
					<td><div class="cours">Cours</div>
						Multimédia<br/>
						KONG Phalla<br/>
						<div class="room">206-F</div>
						
					</td>
					<td><div class="cours">Cours</div>
						Admin<br/>
						JEONG Chul<br/>
						<div class="room">306-F</div>
					</td>
					<td>
					</td>
					<td><div class="cours">Cours</div>
						Admin<br/>
						JEONG Chul<br/>
						<div class="room">306-F</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>15h00-15h55</td>
					<td><div class="cours">Cours</div>
						Traitement de Paroles<br/>
						SAM Sethsery<br/>
						<div class="room">206-F</div>
						
					</td>
					<td><div class="cours">Cours</div>
						Systèm distributer<br/>
						LONG SeangMeng<br/>
						<div class="room">206-F</div>
					</td>
					<td>
					</td>
					<td><div class="cours">Cours</div>
						Admin<br/>
						JEONG Chul<br/>
						<div class="room">206-F</div>
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>16h00-16h55</td>
					<td><div class="cours">Cours</div>
						Traitement de Paroles<br/>
						SAM Sethserey<br/>
						<div class="room">206-F</div>
						
					</td>
					<td><div class="cours">Cours</div>
						Systèm distributer<br/>
						LONG SeangMeng<br/>
						<div class="room">206-F</div>
					</td>
					<td>
					</td>
					<td><div class="cours">Cours</div>
						Admin<br/>
						JEONG Chul<br/>
						<div class="room">306-F</div>
					</td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</body>
</html>