<html>
	<head>
		<link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.lightbox.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.canvasSlideshow.js"></script>
		
	</head>
	<div id="header">
			<img  src="Logogic.jpg" alt="gic">	
		</div>
	<form action="#" method="POST">
		<input type="text" id="query" name="query" autosave="search_box_save" class="keyword-search" placeholder="Search the site">
		<image class="iconsearch" title="Search" src="search.jpg" alt=""/>
	</form>
		<div id="menu">
			<ul>	
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Resource</a></li>
				<li><a href="#">Booking</a></li>
				<li><a href="#">Home</a></li>
			</ul>
		</div>
		<div id="log">
			<ul class="subsetnav">
				<li>
					<a href="#">Log In </a>
				</li>
				<li>
					<a href="#">|</a>
				</li>
				<li>
					<a href="#">Log Out</a>
				</li>
			</ul>
		</div>
		
	