<html>
	<head>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<img class="itc" src="ITC LOGO.gif" alt="itc" >
		<img  class="gic" src="New GIC-Logo.jpg" alt="gic">	
		<div class="picturemenu"><h1>Room Management System	</h1>
		</div>
		<div class="menu">
<!--			<div class="booking">-->
<!--			<h2>Booking</h2>-->
<!--		</div>	-->
		</div>
		<div class="menu1">
<!--			<h2>Resource</h2>	-->
		</div>
		<div class="menu2">	
		</div>
		<!--<div class="menu3">	
		</div>-->
		<div class="menu4">	
		</div>
		<div class="menu5">	
		</div>
	</body>
</html>