<html>
	<head>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div id="form_resurce">
			<center><div id="title"><h1>Resurce List</h1></div>
		 <form>	
			 <input type="text" name="text"/>
			 <input type="submit" value="Search" /> 
	
		</form>
		<table rules="all" border="1">
			<tr>
				<th>Resource</th>
				<th>Quality</th>
				<th>Description</th>
				<th>Book</th>
			</tr>
			<tr>
				<td>LCD-02</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>LCD-03</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>LCD-04</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>LCD-05</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>LCD-06</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>LCD-07</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>LCD-08</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>Room-206-F</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>Room-206-F</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>Room-206-F</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
			<tr>
				<td>Room-206-F</td>
				<td>Good</td>
				<td>non</td>
				<td><input type="button" name="Book" value="Book"></td>
			</tr>
		</table>
	</center>
</div>
	</body>
	
</html>